<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>账号管理--修改账号</title>
    <!-- 引入jQuery -->
    <script src="./javascripts/jquery.js"></script>
    <!-- 引入vue -->
    <script src="./javascripts/vue.js"></script>
    <!-- 引入elementUI -->
    <link rel="stylesheet" href="styles/elementUI.css">
    <script src="./javascripts/elementUI.js"></script>
    <!-- 引入首页样式 -->
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <div id="app">
        <el-main>
            <el-card class="box-card" shadow="hover">
                <div slot="header" class="clearfix">
                    <span>修改账号</span>
                </div>
                <el-form label-position="left" :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="用户名" prop="username">
                        <el-input v-model="ruleForm2.username"></el-input>
                    </el-form-item>
                    <el-form-item label="密&emsp;码" prop="pwd">
                        <el-input type="password" v-model="ruleForm2.pwd" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码" prop="checkPass">
                        <el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="选择用户组" prop="group">
                        <el-select v-model="ruleForm2.group" placeholder="请选择用户组">
                            <el-option label="超级管理员" value="superAdmin"></el-option>
                            <el-option label="管理员" value="admin"></el-option>
                            <el-option label="普通用户" value="commonUser"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="success" @click="saveChange('ruleForm2')">修改</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-main>
    </div>

    <script>
        let VM = new Vue({
            el: "#app",
            data() {
                var validatePass2 = (rule, value, callback) => {
                    if (value !== this.ruleForm2.pwd) {
                        callback(new Error('两次输入密码不一致!'));
                    } else {
                        callback();
                    }
                };
                return {
                    ruleForm2: {
                        username: '',
                        pwd: '',
                        checkPass: '',
                        group: '',
                        u_id:''
                    },
                    rules2: {
                        username: [
                            { required: true, message: '请输入用户名', trigger: 'blur' },
                            { min: 6, max: 18, message: '用户名长度为6~18位', trigger: 'blur' },
                        ],
                        pwd: [
                            { required: true, message: '请输入密码', trigger: 'blur' },
                            { min: 6, max: 12, message: '密码长度为6~12位', trigger: 'blur' }
                        ],
                        checkPass: [
                            { required: true, message: '请确认密码', trigger: 'blur' },
                            { validator: validatePass2, trigger: 'blur' }
                        ],
                        group: [
                            { required: true, message: '请选择用户组', trigger: 'change' },
                        ]
                    }
                };
            },
            methods: {
                saveChange(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            //验证成功，发送ajax到后台更改数据
                            $.post('/users/save', this.ruleForm2, (result) => {
                                if (result.isSuccess) {
                                    alert(result.msg);
                                    location.href = 'account_manage.html';
                                } else {
                                    alert(result.msg);
                                };
                            })
                        } else {
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            },
            //页面加载完毕后，发起ajax，请求旧数据回填信息
            mounted(){
                //获取u_id信息
                let[,u_id]=location.href.split('=');
                //发起ajax，请求旧数据回填信息
                $.get('/users/edit',{u_id},(oldData)=>{
                    oldData=oldData[0];
                    //接收数据，处理前端逻辑
                    //u_id: 24, userName: "555555", userPwd: "5b1b68a9abf4d2cd155c81a9225fd158", userGroup: "commonUser"
                    this.ruleForm2={
                        username:oldData.userName,
                        pwd:'',
                        checkPass:'',
                        group:oldData.userGroup,
                        u_id:oldData.u_id
                    }
                })
            }
        })
    </script>
</body>

</html>