<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品管理--添加商品</title>
    <!-- 引入jQuery -->
    <script src="./javascripts/jquery.js"></script>
    <!-- 引入vue -->
    <script src="./javascripts/vue.js"></script>
    <!-- 引入elementUI -->
    <link rel="stylesheet" href="styles/elementUI.css">
    <script src="./javascripts/elementUI.js"></script>
    <!-- 引入首页样式 -->
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <div id="app">
        <el-main>
            <el-card class="box-card" shadow="hover">
                <div slot="header" class="clearfix">
                    <span>添加商品</span>
                </div>
                <el-form ref="form" :model="form" :rules="rules" label-position="top" class="goodsAdd">
                    <el-form-item label="所属分类：" prop="sort">
                        <el-select v-model="form.sort" placeholder="--- 选择分类 ---">
                            <el-option label="日用品" value="日用品"></el-option>
                            <el-option label="食品" value="食品"></el-option>
                            <el-option label="烟酒" value="烟酒"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="商品条形码：" prop="barcode">
                        <el-input v-model="form.barcode"></el-input>
                        <el-button type="success">生成条形码</el-button>
                    </el-form-item>
                    <el-form-item label="商品名称：" prop="goodsName">
                        <el-input v-model="form.goodsName"></el-input>
                    </el-form-item>
                    <el-form-item label="商品售价：" prop="salePrice" >
                        <el-input v-model="form.salePrice"></el-input>
                        <span>元</span>
                    </el-form-item>
                    <el-form-item label="市场价：" prop="marketPrice" >
                        <el-input v-model="form.marketPrice"></el-input>
                        <span>元</span>
                        <p class="tips">默认市场价为售价的1.2倍</p>
                    </el-form-item>
                    <el-form-item label="商品进价：" prop="purchasePrice" >
                        <el-input v-model="form.purchasePrice"></el-input>
                        <span>元</span>
                    </el-form-item>
                    <el-form-item label="入库数量" prop="storageAmount" >
                        <el-input v-model="form.storageAmount"></el-input>
                        <p class="tips">计重商品单位为千克</p>                        
                    </el-form-item>
                    <el-form-item label="商品重量：" prop="goodsWeight" >
                        <el-input v-model="form.goodsWeight"></el-input>
                    </el-form-item>
                    <el-form-item label="商品单位：" prop="goodsUnit" >
                        <el-input v-model="form.goodsUnit"></el-input>
                    </el-form-item>
                    <el-form-item label="会员优惠：">
                        <el-radio v-model="form.benifits" label="1">享受</el-radio>
                        <el-radio v-model="form.benifits" label="2">不享受</el-radio>
                    </el-form-item>
                    <el-form-item label="状态：">
                        <el-radio v-model="form.status" label="1">启用</el-radio>
                        <el-radio v-model="form.status" label="2">禁用</el-radio>
                    </el-form-item>
                    <el-form-item label="商品简介" label-width="500px">
                        <el-input type="textarea" v-model="form.desc"></el-input>
                        <p class="tips">不超过200个汉字</p>
                    </el-form-item>
                    <el-form-item>
                        <el-form-item>
                            <el-button type="success" @click="onSubmit">添加</el-button>
                        </el-form-item>
                </el-form>
            </el-card>
        </el-main>
    </div>

    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    form: {
                        benifits: '1',
                        status: '2',
                        goodsName: '',
                        sort: '',
                        barcode: '',
                        salePrice: ''
                    },
                    rules: {
                        goodsName: [
                            { required: true, message: '请输入分类名称', trigger: 'blur' },
                        ],
                        sort: [
                            { required: true, message: '请输入分类名称', trigger: 'blur' },
                        ],
                        barcode: [
                            { required: true, message: '请输入分类名称', trigger: 'blur' },
                        ],
                        salePrice: [
                            { required: true, message: '请输入分类名称', trigger: 'blur' },
                        ],
                    }
                }
            },
            methods: {
                onSubmit() {
                    console.log('submit!');
                }
            }
        })
    </script>
</body>

</html>