/* elementUI 引入的样式 */
/* 右侧头部 */
.el-header {
    background: #f0f0f0;
    font-size: 26px;
    padding: 30px 20px;
}

.el-header p a {
    font-size: 16px;
}

/* 右侧内容 */
#app{
    background-color: #f0f0f0;
}
.el-main {   
    padding: 0 20px;
}

.el-card {
    border: 1px solid #ccc;
}

.el-card__header {
    height: 40px;
    line-height: 40px;
    background: url(../images/cardTitle.png) repeat-x;
    padding: 0px 20px;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-size: 18px;
}

.el-card__body {
    padding: 0 20px;
}

.homepage .el-alert {
    height: 40px;
    background: #dbe3ff;
    border: 1px solid #a2b4ee;
    padding: 0 20px;
    margin: 20px 0;
    font-size: 12px;
}

.el-icon-info {
    color: #3a67e5;
}

.el-icon-close {
    color: #787d8c;
    font-weight: 700;
}

.homepage .el-alert__icon.is-big {
    font-size: 16px;
    width: 16px;
}

.el-table th > .cell {
    font-weight: 700;
}

#saleRank, #outOfStock {
    margin-bottom: 40px;
    padding-bottom: 10px;
}

/* 右侧尾部 */
.el-footer {
    background: #f0f0f0;
    font-size: 12px;
    line-height: 50px;
}

.el-footer p {
    border-top: 1px solid #ccc;
}

/* 左侧头部 */
.el-aside {
    height: 100%;
    background: url(../images/left_bg.png) repeat-y;
    color: #ccc;
}

.el-aside h1 {
    height: 100px;
    line-height: 100px;
    font-size: 24px;
    text-align: center;
}

.el-aside > p, .el-aside > p a {
    font-size: 12px;
    text-align: right;
    color: #ccc;
    line-height: 10px;
}

.el-aside > p {
    margin-bottom: 20px;
    margin-right: 10px
}

/* 左侧菜单 */
.el-menu {
    border-right: none;
    background: transparent;
}

.el-menu .el-menu-item, .el-submenu__title {
    height: 33px;
    line-height: 33px;
    width: 200px;
    text-align: right;
    margin-left: 30px;
    border-radius: 5px 0 0 5px;
    padding-right: 20px;
    color: #fff;
}
.el-menu-item a{
    display: block;
    width:100%;
    height:100%;
    color:#fff;
}
.el-submenu__title {
    background: url(../images/menu_bg.png) repeat-y;
    margin-bottom: 10px;
}

.el-menu .el-menu-item {
    margin-bottom: 5px;
    position: relative;
}

.el-menu-item:focus:hover, .el-menu-item:hover {
    background: rgba(225, 225, 225, 0.2)
}

.el-submenu.is-opened .el-submenu__title{
  color:#509300;
  font-weight: 700;
  background:#f0f0f0; 
}

.el-menu-item.is-active:hover {
    background: rgba(225, 225, 225, 0.2)
}

.el-menu-item.is-active {
    font-weight: 700;
    background: transparent;
}


.el-menu-item.is-active:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0px;
    border: 7px solid #f0f0f0;
    border-color: transparent #f0f0f0 transparent transparent;
}

.el-menu-item-group__title {
    padding: 0;
}

.el-submenu__icon-arrow {
    display: none;
}



/* 重置样式 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, input, textarea, p, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    vertical-align: middle; /*清除图片间隙*/
}

caption, em, strong, th {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #252525;
}

/* 首页的公共样式 */
html, body, #app, .el-container {
    height: 100%;
}
.tcenter{
    text-align:center;
}


/* 添加管理员账号的样式设置 */
.el-card__body .el-form{
    padding-top:20px;
}
.el-form--label-top .el-form-item__label{
    font-weight: 700;
    padding:0;
}
.el-input{
    width:30%;
}
.el-input--suffix{
    width:100%;
}
/* 管理账号的样式设置 */
.accountMangt .el-table th.is-leaf:nth-child(6){
    text-indent:30px;
}
/* .el-table__row:nth-child(2n-1){
    background: #f0f0f0;
} */
.el-card__body .el-table{
    margin-bottom: 20px;
}

/* 添加分类 */
.el-radio__input.is-checked .el-radio__inner{
    border-color: #509300;
    background: #509300;
}
.el-radio__input.is-checked + .el-radio__label{
    color:#509300;
}

/* 添加商品 */
p.tips{
    font-size:12px;
    color:#666;
}
.el-textarea{
    width:50%;
}


/* 商品管理 */
.goodsManage .el-input{
    width:55%;
}
.goodsManage .el-input--suffix{
    width:100%;
}
.goodsManage .el-form{
    border-bottom: 2px solid #f0f0f0;
}
.goodsManage .el-table_1_column_10{
    text-align:center;
}
.goodsManage .el-pager li.active{
    background: #67c23a;
    color:#fff;
    border-radius: 5px;
}
.goodsManage .el-pager li.active:hover{
    background: #67c23a;
    color:#fff;
    border-radius: 5px;
}
.goodsManage .el-pager li:hover,.goodsManage .el-pagination button:hover,.el-select-dropdown__item.selected{
    color:#67c23a;
}
.goodsManage .el-select .el-input.is-focus .el-input__inner,.el-pagination__sizes .el-input .el-input__inner:hover,.el-input__inner:hover{
    border-color: #67c23a;
}
.goodsManage .el-input.is-active .el-input__inner, .goodsManage .el-input__inner:focus,.goodsManage .el-select .el-input__inner:focus{
    border-color:#67c23a;
}
.goodsManage .el-pagination{
    margin:30px 0;
    color:#67c23a;
}
.goodsManage .el-pagination__total,.goodsManage .el-input__inner,.el-pagination .btn-next, .el-pagination .btn-prev,.el-pagination__jump{
    color:#67c23a;
}

/* 销售报表 */
.salesReport .el-col-1{
    text-align: center;
}
.salesReport .el-button--primary{
    background-color: #67c23a;
    border-color: #67c23a;
}
#main{
    padding-top:30px;
}