  
/* 登录背景 */
body{height:700px;background:url(../images/2.jpg) no-repeat center;background-size: cover;}
/* 登录框居中 */
.el-card{
    height:300px;
    width:400px;
    position: absolute;
    top:0;
    left:0px;
    bottom:0px;
    right: 0;
    margin:auto;
    background: rgba(0, 0, 0, 0.5);
    color:rgba(225, 225, 225, 0.8);
}
/* 登录标题样式 */
.el-card__header{
    padding:5px 0; 
    text-align: center;
}
.el-card__header span{
    color:#409EFF;
}
.el-card__body{
    padding:20px 30px 0px 10px;
}
.el-form-item__label{
    color:rgba(225, 225, 225, 0.8);
}
.el-input,.el-input__inner{
    background: rgba(0, 0, 0, 0.5);
    color:rgba(225, 225, 225, 0.8);
}
.el-button{
    background: rgba(0, 0, 0, 0.5);
    color:rgba(225, 225, 225, 0.8);
}

 